/server/node_modules
/server/npm-debug.log
/android/Mochi/*.apk
/android/Mochi/*.ap_
/android/Mochi/*.dex
/android/Mochi/*.class
/android/Mochi/bin/
/android/Mochi/gen/
/android/Mochi/local.properties
/android/Mochi/.classpath
/android/Mochi/.project
/android/Mochi/proguard/
/android/Mochi/*.iml
/android/Mochi/*.ipr
/android/Mochi/*.iws
/android/Mochi/.idea/workspace.xml
/android/Mochi/.idea/tasks.xml
/android/Mochi/.idea/libraries/
/android/Mochi/.gradle
/android/Mochi/app/build/
/android/Mochi/.DS_Store
